* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root{
  --limeorange: #ffb49b;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #ffe8c7;
}

button{
  border: none;
  cursor: pointer;
}
label{
  cursor: pointer;
}

input{
  padding: 10px;
}


a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

